.gridbox{
    background-color: black;
    display: grid;
    padding: 100px;
    justify-content: center;
    grid-template-columns:100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px ;
    row-gap: 10px;
    column-gap: 10px;
}
.grid{
    background-color: green;
    /* grid-template-columns: auto auto auto;
    grid-template-rows: 200px 200px 200px 200px; */
}
.grid2{
    grid-row:span 3;
}
.grid3{
    grid-column: span 2;
}
.grid4{
    background-color: red;
}
.grid5{
    background-color: orange;
}
.grid6{
    background-color: red;
}
.grid7{
    grid-row: span 2;
    background-color: green;
}
.grid8{
    background-color:red;
}
.grid9{
    background-color: orange;
}